*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}
